.slideShow {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.content {
  display: flex;
  align-items: center;
  min-height: 500px;
  justify-content: center;
}

.slide {
  min-width: 250px;
  border: 1px solid red;
  height: 250px;
  background-color: cyan;
  transition: transform 0.5s ease-in-out;
}
